@import '~bootstrap/scss/bootstrap.scss';
.display-4 {
    color: black;
}

.lead {
    color: black;
}

.white.display-4 {
    color: white;
}

.regularText {
    color: black;
    font-family: times;
}
