.join-list{
    width: 475px;
}

.col-md-3{
    max-width:100%;
}

.input-group{
    display: block;
}

.container-fluid, #footer{
    background-color: #17a2b8;
    max-height: 100%;
}

.btnjoin{
    color: white;
    // background-color: white;
}

