.thank-you-jumbotron-fluid {
    color: white;
    height: 300px;
    width: 600px;
    text-align: center;
    background-color: white;
    margin: auto;
    margin-top: 15px; // padding-top: 15px;
}
