#outdoors {

    margin-bottom: 25px;
    margin-right: 25px;
    width: 220px;
    height: 100px;
    background-image: url(https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&h=350);
}

#entertainment {
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    width: 220px;
    height: 100px;
    background-image: url(https://images.pexels.com/photos/258804/pexels-photo-258804.jpeg?auto=compress&cs=tinysrgb&h=350);
}

#foodAndDrink {
    margin-bottom: 25px;
    margin-right: 25px;
    width: 220px;
    height: 100px;
    background-image: url(https://images.pexels.com/photos/5927/food-salad-red-lunch.jpg?auto=compress&cs=tinysrgb&h=350);
}

#culture {
    margin-bottom: 25px;
    margin-right: 25px;
    width: 220px;
    height: 100px;
    background-image: url(https://images.pexels.com/photos/48796/carnival-woman-costume-orange-48796.jpeg?auto=compress&cs=tinysrgb&h=350);
}

#classes {
    margin-bottom: 25px;
    margin-right: 25px;
    width: 220px;
    height: 100px;
    background-image: url(https://images.pexels.com/photos/7095/people-coffee-notes-tea.jpg?auto=compress&cs=tinysrgb&h=350);
}

.categoryHeading {
    font-family: 'Merienda', cursive;
    color: black;
}
