.filterButtons{
color: #0a5159;
// text-align: center;
width: 100%;
}

.custom-select-guests{
    width: 75px;
    text-align: center;

}
 .custom-select-length{
     margin-left: 10px;
     margin-right: 10px;
     text-align: center;
 }


// .borderaa{
//     border-width: thick;
//     border-color: blue;
// }

.pickADate{
    float: left;
    overflow: hidden;
    // margin: 10px;
}
.costRange{
    float: right;
    overflow: hidden;
}


.rangeLabel{
    padding: 0px;
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 5px;
}

.filters{
    display: inline-block;
    position: relative;
    text-align: center;
}

.guests-label, .custom-select-guests, .pick-a-date{
    margin-left: 15px;
}
