.Login {
  width: 50%;
  margin-left: 300px;
  margin-top: 200px;
}

.titleText {
  text-align: center;
  font-size: 24px;
}

.giveColor {
  font-family: 'Merienda', cursive;
  color: #17a2b8;
  font-size: 24px;
}
